body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('./images/loggedin.jpg');
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #27ca8e;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #023522;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #276874cf;
  }

.AppRight{
    width: 70%;
    height: 90%;
    padding-top: 5%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ________________________ ACCUEIL ______________________________*/
.ContainerCentres{
    display: inline-block;
    width: 72.01%;
    padding: 1% 5% 1% 5%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0.5% 0%;
}

.vert{
    background-color: #44df4c98;
}

.jaune{
    background-color: #f0ec18da;
}

.vide{
    background-color: white;
}
.labelContainerCalendar{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.centre{
    display: inline-block;
    margin: 10px 25px 10px 25px;
    border: 3px solid black;
    width: 150px;
    text-align: center;
    border-radius:20px ;
    background-color: white;
}
.selected{
    background-color: #27ca8e;
    color:white;
}

.calendarContainer{
    background-color: rgb(117 154 255 / 82%);
    width: 80%;
    padding: 1%;
    border-radius: 10px;
}

.TitreCalendrier{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

.FlecheCalendar{
    color: white;
    display: inline;
    margin: 0% 1%;
    border-radius: 5px;
    padding: 0.25%;
    text-align: center;
    font-size: small;
}

/* ____________________________________SALLES______________________________ */

.Containersalles{
    background-color: #276874cf;
    display: inline-flex;
    width: 85%;
    height: 95%;
    padding: 1% 5% 1% 5%;
    overflow: auto;
    border: rgba(51, 137, 235, 0.842) solid 2px;
}

.ContainerSalle{
    background-color: #27ca8e;
    display: inline-block;
    margin: 20px;
    width: 350px;
    height: 400px;
    border-radius: 5%;
}

.nomSalleNouveau{
    text-align: center;
    font-size: larger;
    color: white;
}

.DescriptionSalleNouveau{
    text-align: center;
    font-size: larger;
    color: white;
}

.NomSalle{
    width: 350;
    font-size: 32px;
    background-color:wheat;
}

.DescriptionSalle{
    font-size: 16px;
    width: 350;
    background-color: rgb(255, 226, 173);
}

.ContainerReservation{
    background-color: #276874cf;
    overflow: auto;
    padding-left: 10;
}

.reservation{
    width: 300px;
    height: 60px;
    margin: 10;
    border-radius: 5px;
    text-align: center;
}
/* ______________________ MENU _____________________________ */

.ContainerMenu{
    width: 15%;
    /* padding-top: 10%; */
    padding: 10% 2%;
    
}

.menuItem{
    width: 100%;
    height: 45px;
    border: 2px solid grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 50px 20px;
  text-align: center;
  margin-top: 5%;
  background-color: #8bd43272;
  padding-top: 20px;

}
.menuItem::after {
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    }

.menuItem:hover {
    background-color: #afdd77;
    }

    

.App{
    display: flex;
    height: 100%;
}

/* ______________________ CREER SALLES _____________________________ */

.ContainerFormulaire{
    position: relative;
    top: 10;
    display: inline-flex;
    border: 2px solid black ;
    border-radius: 5px;
    width: 40%;
    height: 650px;
    margin: 0 20;
    padding: 20;
    text-align: center;
    background-color: #c2dca3aa;
}

.title{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

}


.labelContainer{
    width: 100%;
    margin: 10;
}

.label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pasdecentres{
    width: 100%;
    text-align: center;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid #95ee29;
    border-radius: 20px;
    background-color: #80f636;

    
}

.pasdesalles{
    width: 90%;
    text-align: center;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid #27ca8e;
    border-radius: 20px;
    background-color: #80f636de;
}


.pasdecentres:hover{
    background-color: #c2dca3;
}

.modifiercentreformulaire .nouveaucentreformulaire{
    padding-left: 10;
}

select {
    background-color: #93b4418c;
    color: white;
    padding: 12px;
    width: 250px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  select::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  select:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
   select option {
    padding: 30px;
  }



/* CSS */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #27ca8e 0%, #80f636 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(118, 246, 54, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10;
}

button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(80, 246, 54, 0.25), 0px 0px 0px 3.5px rgba(69, 217, 58, 0.5);
  outline: 0;
}

.containerMiniSalles{
    display: inline-flex;
    width: 70%;
    padding: 1% 5% 1% 5%;
}

.miniNomSalle{
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
    font-size: smaller;
    display: inline-block;
}
.miniNomSalle:hover{
    background-color: #8bd432;
}

.add{
    background-image: url('./images/plus.jpg');
}

/* ______________________ Rapport _____________________________ */

.AppRapport{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 7% 1%;
}

.contenantInfoBoite{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.RapportsBoite{
    background-color: rgb(34 122 145 / 77%);
    height: 100%;
    width: 50%;
    border-radius: 5%;
    margin-right: 1%;
    padding: 1%;
}

.RapportsInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.RapportsTitre{
    color: white;
    text-align: center;
    margin: 0.5% auto;
    width: 91.5%;
    height: 25%;
    background-color: rgba(0, 253, 114, 0.5);
}

.RapportsPourcentage{
    width: 30%;
    height: 20%;
    display: block;
    color: white;
    margin: 0.5% 0.5%;
    text-align: center;
}


.RapportGraph{
    background-color: #276874cf;
    color: white;
    width: 95%;
    height: 250px;
    margin-top: 3%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.topGraph{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
    height: 50%;
    align-self: center;
}

.bottomGraph{
    border-top: black 2px solid;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50%;
    align-self: center;
}

.ladderGraph{
    display: flex;
    flex-direction: column;
    width: 5%;
}

.legendLadderGraph{
    color: white;
    margin: 50% 15%;
    text-align: center;
}

.dataGraph{
    background-color: rgb(85, 207, 111);
    width: 8%;
    margin-left: 5%;
    color: white;
    font-size: xx-small;
    display: block;
}
.legendGraph{
    background-color: orange;
    width: 50%;
    height: 10%;
    display: flex;
    align-self: center;
}

.bottom{
    margin: auto 1%;
}
