body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('./images/loggedin.jpg');
}

.AppRight{
    width: 70%;
    padding-top: 5%;
    margin-right: auto;
}

.ContainerCentres{
    display: inline-block;
    width: 70%;
    padding: 1% 5% 1% 5%;
    border: 2px solid black;
    border-radius: 10px;

}

.centre{
    display: inline-block;
    margin: 10px 25px 10px 25px;
    border: 3px solid black;
    width: 150px;
    text-align: center;
    border-radius:20px ;
    background-color: white;
}
.selected{
    background-color: #8bd432;
}

/* ____________________________________SALLES______________________________ */

.Containersalles{
    background-color: blue;
    display: inline-block;
    width: 70%;
    height: 100%;
    padding: 1% 5% 1% 5%;
    overflow: auto;
}

.ContainerSalle{
    background-color: red;
    display: inline-block;
    margin: 20px;
    width: 350;
    height: 400px;
}

.NomSalle{
    width: 350;
    font-size: 32px;
    background-color:wheat;
}

.DescriptionSalle{
    font-size: 16px;
    width: 350;
    background-color: rgb(255, 226, 173);
}

.ContainerReservation{
    background-color: rgb(0, 139, 219);
    overflow: auto;
    padding-left: 10;
}

.reservation{
    width: 300px;
    height: 60px;
    background-color: white;
    margin: 10;
    border-radius: 5px;
}
/* ______________________ MENU _____________________________ */

.ContainerMenu{
    width: 15%;
    /* padding-top: 10%; */
    padding: 10% 2%;
    
}

.menuItem{
    width: 100%;
    height: 45px;
    border: 2px solid grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 50px 20px;
  text-align: center;
  margin-top: 5%;
  background-color: #8bd43272;
  padding-top: 20px;

}
.menuItem::after {
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    }

.menuItem:hover {
    background-color: #afdd77;
    }

    

.App{
    display: flex;
}

/* ______________________ CREER SALLES _____________________________ */

.ContainerFormulaire{
    position: relative;
    top: 10;
    display: inline-flex;
    border: 2px solid black ;
    border-radius: 5px;
    width: 40%;
    height: 500px;
    margin: 0 20;
    padding: 20;
    text-align: center;
    background-color: #c2dca3aa;
}

.title{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

}

.labelContainer{
    width: 100%;
    margin: 10;
}

.label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pasdecentres{
    width: 100%;
    text-align: center;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid #95ee29;
    border-radius: 20px;
    background-color: #80f636;

    
}

.pasdesalles{
    width: 90%;
    text-align: center;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid #95ee29;
    border-radius: 20px;
    background-color: #80f636;

    
}


.pasdecentres:hover{
    background-color: #c2dca3;
}

.modifiercentreformulaire .nouveaucentreformulaire{
    padding-left: 10;
}

select {
    background-color: #93b4418c;
    color: white;
    padding: 12px;
    width: 250px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  select::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  select:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
   select option {
    padding: 30px;
  }



/* CSS */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #76f74b 0%, #80f636 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(118, 246, 54, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(80, 246, 54, 0.25), 0px 0px 0px 3.5px rgba(69, 217, 58, 0.5);
  outline: 0;
}

.containerMiniSalles{
    display: inline-block;
    width: 70%;
    padding: 1% 5% 1% 5%;
}

.miniNomSalle{
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
    font-size: smaller;
    display: inline-block;
}
.miniNomSalle:hover{
    background-color: #8bd432;
}

.add{
    background-image: url('./images/plus.jpg');
}