<!--
    Nom du fichier : login.html
    Ce fichier a été utilisé pour faire des tests avec Flask.
    Auteur : Maxence Guindon
    Équipe : Carlens Belony et Maxence Guindon
-->
<html>
    <body>
        <form action = "http://localhost:5000/validation" method = "post">
            <p> Enter identifiant :</p>
            <p><input type = "text" name = "courriel" /></p>
            <p><input type = "text" name = "mdp" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>

        <form action = "http://localhost:5000/creation/horaire" method = "post">
            <p> Enter select test :</p>
            <p><input type = "text" name = "h_start" /></p>
            <p><input type = "text" name = "h_end" /></p>
            <p><input type = "text" name = "duration" /></p>
            <p><input type = "text" name = "interval" /></p>
            <p><input type = "text" name = "nb_room" /></p>
            <p><input type = "text" name = "buffer" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>

        <form action = "http://localhost:5000/session" method = "post">
            <p> Variable de Session :</p>
            <p><input type = "submit" value = "submit" /></p>
        </form>

        <form action = "http://localhost:5000/api/compagnie_info/1" method = "post">
            <p> Test API :</p>
            <p><input type = "submit" value = "submit" /></p>
        </form>

        <form action = "http://localhost:5000/showcase" method = "post">
            <p> Showcase test :</p>
            <p><input type = "submit" value = "submit" /></p>
        </form>

        <form action = "http://localhost:5000/deconnecter" method = "post">
            <p> Déconnection :</p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </body>
</html>