
.info{
    background-color: aqua;
}

.compagnie{
    background-color: navy;
}

.centres{
    background-color: bisque;
}

.salles{
    background-color: blueviolet;
}

.horaires{
    background-color: cadetblue;
}

.reservations{
    background-color: cornflowerblue;
}

/*
Source pour le code du bouton dropdown ci-dessous
lien : https://www.w3schools.com/howto/howto_css_dropdown.asp#:~:text=Example%20Explained,dropdown%20menu%20correctly%20with%20CSS.
*/

.dropbtn{
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12 px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}